@import "tailwindcss";

html {
    letter-spacing: 0.1px;
    height: 100%;
    background-color: #18181B;
}

body, #app {
  height: 100%;
  overflow: hidden;
}

#textbox {
  width: 100%;
  height: 100%;
}

.titlebar {
  background: #18181B;
  color: white;
  -webkit-app-region: drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}