@import "tailwindcss";

html {
    letter-spacing: 0.1px;
    height: 100%;
    background-color: #18181B;
}

body, #app {
  height: 100%;
  overflow: hidden;
}

#textbox {
  width: 100%;
  height: 100%;
}

.titlebar {
  background-color: rgb(10, 10, 10) !important;
  color: white;
  -webkit-app-region: drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.125s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}