@import "tailwindcss";

html {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 100 !important;
    font-style: normal;
    font-optical-sizing: auto;
    letter-spacing: 0.1px;
    height: 100%;
    background-color: #18181B;
}

body, #app {
  height: 100%;
  overflow: hidden;
}

#textbox {
  width: 100%;
  height: 100%;
}